[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = http://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-snipmate-ruby-snippets"]
	path = vim/bundle/vim-snipmate-ruby-snippets
	url = http://github.com/kaichen/vim-snipmate-ruby-snippets.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
